@model PagedList.IPagedList<StockPriceService.Stock>

@using PagedList; 
@using PagedList.Mvc;

<div id="stockList">

    <div class="pagedList" data-otf-target="#stockList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedList.Mvc.PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    
    <table id="stockData">
        <tr>
            <th align="left">Stock Name</th>
            <th></th>
            <th align="right">Stock Price</th>
        </tr>

        
        @foreach (var item in Model)
        {
            <tr>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.StockName)
                </td>
                <td></td>
                <td id="stockPrice" align="center">
                    @Html.DisplayFor(modelItem => item.StockPrice)
                </td>
                <td style="display:none;" id="priceMovement">@(item.PriceMovement)</td>
            </tr>
            
        }
    </table>

</div>
