@model IEnumerable<StockPriceService.Stock>
@{
    ViewBag.Title = "Stocks Price Blotter";
}


<h2>
    Stock List
</h2>

<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#stockList">

    <input type="search" name="searchTerm" id="searchText"/>
    <input type="button" value="Get Price Updates" id="#Update" />
    @*<button id="updatePrices" value="Get Price Updates" name="Update"></button>*@
</form>


@Html.Partial("_Stocks", Model)


