@model IEnumerable<StockPriceService.Stock>
@{
    ViewBag.Title = "Stocks Price Blotter";
}


<h2>
    Stock List
</h2>

<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#stockList">

    <input type="search" name="searchTerm" id="searchText"/>
    <input type="submit" value="Get Price Updates"/>    
</form>


@Html.Partial("_Stocks", Model)


